.dagshub-btn {
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: all 0.5s;
  box-sizing: border-box;

  &:disabled {
    color: #ffffff;
    background-color: #64748b;
    cursor: not-allowed;
    &:hover {
      background-color: #64748b;
    }
    &:focus {
      background-color: #64748b;
    }
    .counter {
      color: #ffffff !important;
    }
  }

  &.primary {
    color: #ffffff;
    background-color: #5467de;
    &:hover {
      background-color: #4453b2;
    }
    &:focus {
      background: #5467de;
      box-shadow: inset 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
    }
    .counter {
      color: #ffffff !important;
    }
  }

  &.secondary {
    color: #172d32;
    background-color: #e2e8f0;
    &:hover {
      background-color: #cbd5e1;
    }
    &:focus {
      background: #cbd5e1;
      box-shadow: inset 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
    }
    .counter {
      color: #172d32 !important;
    }
  }

  &.outline-secondary {
    border: 2px solid #e2e8f0;
    border-radius: 12px;
    color: #172d32;
    background-color: transparent;
    &:hover {
      background: #f1f5f9;
    }
    &:focus {
      background: #f1f5f9;
      border: 2px solid #e2e8f0;
      box-shadow: inset 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
    }
    .counter {
      color: #172d32 !important;
    }
  }

  &.error {
    color: #dc2626;
    background-color: #f8fafc;
    border: 2px solid #e2e8f0;
    &:hover {
      color: #ffffff;
      background-color: #dc2626;
      border: 0px;
      svg path {
        fill: #ffffff;
      }
    }
    &:focus {
      color: #ffffff;
      background-color: #dc2626;
      border: 2px solid #e2e8f0;
      box-shadow: inset 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
      svg path {
        fill: #ffffff;
      }
    }

    .counter {
      color: #dc2626 !important;
    }
  }

  &.disabled {
    color: #ffffff !important;
    background-color: #64748b !important;
    .counter {
      color: #ffffff !important;
    }
  }
}

.dagshub-btn {
  &.ghost {
    color: #172d32;
    background-color: transparent;
    &.ghost-button {
      &:hover {
        background-color: #e9edf2;
      }
    }
    &:hover {
      background-color: #f1f5f9;
      svg {
        fill: #172d32;
      }
    }
    &:focus {
      background: #f1f5f9;
      box-shadow: inset 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
    }

    .counter {
      color: #172d32 !important;
    }
  }
}

.dagshub-btn {
  &.normal {
    padding-right: 12px;
    padding-left: 12px;
    height: 36px;
  }
  &.slim {
    padding-right: 14.44px;
    padding-left: 14.44px;
    height: 32px;
  }
  &.fullWidth {
    width: 100%;
  }
}

.button__content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  gap: 10px;
}

.counter {
  background: #f1f5f9;
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
