.dagshub-btn {
  font-weight: 600;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: all 0.5s;
  &:disabled {
    color: #ffffff;
    background-color: #64748b;
    cursor: not-allowed;
    &:hover {
      color: #ffffff;
      background-color: #64748b;
      svg{
        fill:#ffffff
      }
    }
    &:focus {
      color: #ffffff;
      background-color: #64748b;
      svg{
        fill:#ffffff
      }
    }
  }

  &.primary {
    color: white;
    background-color: #5467de;
    &:hover {
      background-color: #4453b2;
    }
  }

  &.secondary {
    color: #172d32;
    background-color: #e2e8f0;
    &:hover {
      background-color: #cbd5e1;
    }
  }

  &.error {
    color: #dc2626;
    background-color: #f8fafc;
    &:hover {
      color: #ffffff;
      background-color: #dc2626;
      svg path{
        fill:#ffffff
      }
    }
    &:focus {
      color: #ffffff;
      background-color: #dc2626;
      svg{
        fill:#ffffff
      }
    }
  }
}

.dagshub-btn {
  &.ghost {
    color: #172d32;
    background-color: transparent;
    &:hover {
      color: #172d32;
      background-color: #f1f5f9;
      svg{
        fill:#172d32
      }
    }
    &:focus {
      color: #ffffff;
      background-color: #64748b;
      svg{
        fill:#ffffff
      }
    }
  }
}

.dagshub-btn {
  &.normal {
    padding: 10px 12px;
  }
  &.slim {
    padding: 6px 12px;
  }
  &.fullWidth {
    width: 100%;
  }
}
