.card {
  width: 100%;
  height: auto;
  background: var(--secondary-state-50);
  border: 1px solid var(--secondary-state-200);
  border-radius: 12px;
  padding: 16px;
  margin: 8px;
  font-family: 'Inter';
  font-style: normal;
}
.card:hover {
  background: var(--secondary-state-100);
}

.repo-info-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.repo-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.desktop-repo {
  display: flex;
  width: 596px;
  height: 208px;
  padding: 0px;
}
.desktop-repo .repo-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  gap: 24px;
  height: 88px;
}
.desktop-repo .repo-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4px;
  height: 36px;
}
.desktop-repo .repo-header .repo-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  color: var(--secondary-state-600);
  align-items: flex-start;
  top: 4.5px;
  position: relative;
}
.desktop-repo .repo-header .repo-info .repo-icon {
  width: 10.67px;
  height: 14px;
}
.desktop-repo .repo-header .star-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  color: var(--secondary-state-600);
  position: relative;
  top: 3px;
  right: 3px;
}
.desktop-repo .repo-header .star-section .star-number {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  color: var(--secondary-state-400);
  position: relative;
  top: 1.5px;
}
.desktop-repo .repo-header .star-section .star-action {
  width: auto;
  display: flex;
  justify-content: flex-end;
}
.desktop-repo .repo-header .star-section .star-actio img {
  width: 18px;
  height: 18px;
}
.desktop-repo .repo-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 28px;
  gap: 12px;
  align-items: center;
}
.desktop-repo .repo-tags {
  font-weight: 500;
  font-size: 21px;
  color: var(--color-text-default);
  height: 53px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  line-height: initial;
  align-items: center;
  padding-bottom: 7px;
  row-gap: 5px;
}
.desktop-repo .repo-tags .title1 {
  display: inline-block;
  flex-shrink: 0;
  max-width: 498px;
  color: var(--color-text-default);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
}
.desktop-repo .repo-tags .public-private {
  display: inline-block;
  background: transparent;
  border: 1px solid var(--secondary-state-200);
  width: 52px;
  color: var(--secondary-state-600);
  height: 21px !important;
}
.desktop-repo .repo-tags .tag {
  padding: 0px 8px;
  height: 23px;
  border-radius: 32px;
  display: flex;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  flex-shrink: 0;
  width: max-content;
}
.desktop-repo .repo-tags .category-task {
  background: var(--green-100);
  color: var(--green-700);
}
.desktop-repo .repo-tags .category-task:hover {
  background: var(--green-200);
  color: var(--green-700);
}
.desktop-repo .repo-tags .category-task:focus {
  background: var(--green-700);
  color: var(--green-100);
}
.desktop-repo .repo-tags .category-integration {
  background: var(--yellow-100);
  color: var(--yellow-700);
}
.desktop-repo .repo-tags .category-integration:hover {
  background: var(--yellow-200);
  color: var(--yellow-700);
}
.desktop-repo .repo-tags .category-integration:focus {
  background: var(--yellow-700);
  color: var(--yellow-50);
}
.desktop-repo .repo-tags .category-type {
  background: var(--pink-100);
  color: var(--pink-700);
}
.desktop-repo .repo-tags .category-type:hover {
  background: var(--pink-200);
  color: var(--pink-700);
}
.desktop-repo .repo-tags .category-type:focus {
  background: var(--rose-700);
  color: var(--pink-50);
}
.desktop-repo .repo-tags .category-data_domain {
  background: var(--red-50);
  color: var(--red-600);
}
.desktop-repo .repo-tags .category-data_domain:hover {
  background: var(--red-200);
  color: var(--red-600);
}
.desktop-repo .repo-tags .category-data_domain:focus {
  background: var(--red-600);
  color: var(--background);
}
.desktop-repo .repo-tags .category-framework {
  background: var(--cyan-100);
  color: var(--cyan-700);
}
.desktop-repo .repo-tags .category-framework:hover {
  background: var(--cyan-200);
  color: var(--cyan-700);
}
.desktop-repo .repo-tags .category-framework:focus {
  background: var(--cyan-700);
  color: var(--cyan-50);
}
.desktop-repo .repo-tags .category-general {
  background: var(--secondary-state-100);
  color: var(--secondary-state-500);
}
.desktop-repo .repo-tags .category-general:hover {
  background: var(--secondary-state-200);
  color: var(--secondary-state-500);
}
.desktop-repo .repo-tags .category-general:focus {
  background: var(--secondary-state-500);
  color: var(--secondary-state-50);
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  height: initial;
}

.repo-description {
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  margin: 0px;
  height: 39px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
}

.fork-icon {
  width: 10.29px;
  height: 12px;
}

.pull-request-icon {
  width: 12px;
  height: 12.67px;
}

.issue-icon {
  width: 16.33px;
  height: 16.33px;
}

.stats {
  gap: 18px;
  display: flex;
  justify-content: flex-start;
}

.stat-block {
  width: 28px;
  height: 16px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.stat-block > p {
  font-weight: 500;
  font-size: 12px;
  color: var(--secondary-state-600);
}

.repo-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8.5px;
}

.belongs-to {
  font-weight: 500;
  font-size: 12px;
  color: var(--secondary-state-600);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.repo-team {
  font-weight: 500;
  font-size: 12px;
  color: var(--secondary-state-600);
  text-decoration: underline;
}
