.mini-repo-cards-modal__cards-block {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 496px;
  overflow: scroll;
  gap: 16px;
  width: 100%;
  overflow-x: hidden;

}

.mini-repo-cards-modal__close-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
