.horizontal-menu-tab {
  display: flex;
  width: auto;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #475569;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: transparent;
  box-sizing: border-box;
  border: 0px;
  svg path {
    fill: #94a3b8;
  }

  .horizontal-menu-tab__counter {
    background: #f1f5f9;
    //border-radius: 12px;
    width: 25px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  &:hover {
    color: #172d32;
    background: #f1f5f9;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    svg path {
      fill: #172d32;
    }
    .horizontal-menu-tab__counter {
      background: #e2e8f0;
    }
  }

  &:focus {
    background: transparent;
    color: #5467de;
    border-bottom: 3px solid #5467de;
    border-radius: 0px;

    svg path {
      fill: #5467de;
    }
    .horizontal-menu-tab__counter {
      background: #eef0fc;
    }
  }
}

.tab_checked {
  background: transparent;
  color: #5467de;
  border-bottom: 3px solid #5467de;
  border-radius: 0px;

  svg path {
    fill: #5467de;
  }
  .horizontal-menu-tab__counter {
    background: #eef0fc;
  }
}
