.add-member-modal__instructions {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  margin: 0px;
  margin-bottom: 8px;
}

.input-block{
  position: relative;
}

.input-block svg{
  position: absolute;
  top: 15.67px;
  right: 17.67px;
}

.input-block__search-input {
  width: 603px;
  height: 48px;
  background: var(--secondary-state-50);
  border: 2px solid var(--secondary-state-300);
  border-radius: 12px;
  box-sizing: border-box;
  padding-right: 49px;
  padding-left: 16px;
}
.input-block__search-input:focus-visible {
  outline: none !important;
}
.input-block__search-input:hover {
  background: var(--secondary-state-100);
  border: 2px solid var(--secondary-state-300);
}
.input-block__search-input:focus {
  background: var(--secondary-state-50);
  border: 2px solid var(--secondary-state-300);
  box-shadow: 0px 0px 0px 3px var(--box-shadow);
}
.input-block__search-input:hover::placeholder,
.input-block__search-input:focus::placeholder {
  color: var(--color-text-default);
}

::placeholder {
  color: var(--secondary-state-500);
}

.add-member-modal__dropdown{
  width: 100%;
}

.add-member-modal__no-teams-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.add-member-modal__create-team-text{
  color:#5467DE;
}

.add-member-modal__buttons-section{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.add-member-modal__buttons-seperator {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--modal-or);
}
