.search-result-list {
    width: 599px;
    min-height: 44px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    background: #f8fafc;
    border-radius: 6px;
    border: 1px solid #e2e8f0;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
    overflow-y: auto;
    font-family: 'Inter';
    font-style: normal;
}
.row {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}
.remove-from-team-button {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 14px;
    padding-right: 12px;
    border-radius: 12px;
    background: var(--secondary-state-200);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-default);
}
.remove-from-team-button:hover {
    background: var(--secondary-state-300);
}
.remove-from-team-button:focus {
    background: var(--secondary-state-300);
    border: 2px solid var(--primary-purple-300);
}
.user-image {
    position: relative;
    top: 3px;
}
.user-image > img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.name-info {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-default);
}
