.create-new-team-modal__instructions {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  margin: 0px;
  margin-bottom: 8px;
}

.input-block {
  position: relative;
  width: 100%;
}
