.remove-member-modal__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.remove-member-modal__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.remove-member-modal__text-username {
  font-weight: 700;
}
