.teams-modal__cards-block {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 496px;
  overflow: scroll;
  gap: 16px;
  width: 100%;
  overflow-x: hidden;
}

.teams-modal__close-button{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
