.delete-organization-setting-tab {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.delete-organization-setting-tab__text {
  margin: 0px !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

//.delete-organization-setting-tab__button{
//  &:hover{
//    color: white;
//  }
//}
