.dagshub-checkbox {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #172d32;
  cursor: pointer;
  gap: 5px;
}

.checked label,
.indeterminate label {
  background-color: #5467de;
  border: 2px solid #5467de;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dagshub-checkbox:not(.disabled):hover label {
  box-shadow: 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
}

.disabled {
  cursor: not-allowed;
}

.dagshub-checkbox label {
  height: 20px;
  width: 20px;
  border: 2px solid #64748b;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disabled label {
  cursor: not-allowed;
}

.dagshub-checkbox input[type='checkbox'] {
  display: none;
}

.dagshub-checkbox:disabled,
.dagshub-checkbox:disabled:hover,
.dagshub-checkbox:disabled:focus {
  color: #ffffff;
  background-color: #64748b;
  cursor: not-allowed;
}
