.table {
  width: 1216px;
  font-family: 'Inter';
  font-style: normal;
  margin: 10px;
}

.table__header {
  height: 44px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0.5px solid var(--secondary-state-200);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.header-style {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text-default);
}

.header__team-name {
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text-default);
  flex-shrink: 0;
}

.header__team-description {
  font-weight: 500;
  line-height: 125%;
  color: var(--secondary-state-600);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table__row {
  justify-content: space-between;
  box-sizing: border-box;
  height: 56px;
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  display: flex;
  align-items: center;
}

.table__row:nth-child(even) {
  background: var(--secondary-state-50);
}

.table__row:nth-child(odd) {
  background: var(--secondary-state-100);
}

.table__collapse {
  height: 36px;
  background: var(--secondary-state-50);
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.table__footer {
  height: 48px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
}

.footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer-right-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 16px;
}

.right-side {
  width: 231px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  gap: 15.5px;
  padding-right: 16px;
}

.add-member-button {
  width: 182px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10.67px;
  position: relative;
  padding-left: 14.67px;
  padding-right: 12px;
  border-radius: 12px;
  padding: 4px 12px;
}
.add-member-button:hover {
  background: var(--secondary-state-300);
}
.add-member-button:focus {
  background: var(--secondary-state-300);
  border: 2px solid var(--secondary-state-300);
  box-shadow: 0px 0px 0px 3px var(--box-shadow);
}

.left-side {
  width: 953px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}

.dots-vertical-icon {
  position: relative;
  top: 9px;
}

.remove-from-team-button {
  width: 149px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-left: 14px;
  padding-right: 12px;
  border-radius: 12px;
  background: var(--secondary-state-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  right: 16px;
}
.remove-from-team-button:hover {
  background: var(--secondary-state-300);
}
.remove-from-team-button:focus {
  background: var(--secondary-state-300);
  border: 2px solid var(--primary-purple-300);
}

.user-image {
  position: relative;
  top: 3px;
}
.user-image > img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.name-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
}

.user-info {
  width: 220px;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}

.permission-label {
  background: var(--secondary-state-200);
  border: 1px solid var(--secondary-state-300);
  display: flex;
  padding-right: 9px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding: 6px, 4px, 6px, 8px;
  gap: 13px;
  border-radius: 12px;
  margin: 8px;
}

.permission {
  display: flex;
  align-items: center;
}

.repo-icon {
  width: 16px;
  height: 21px;
}

.team-repos {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.repo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.all-team-projects {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-purple-600);
  display: flex;
  align-items: center;
  gap: 5.33px;
}

.teams-list {
  width: 750px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--color-text-default);
  padding: 16px;
  box-sizing: border-box;
}

.membership-column {
  width: 246px;
  padding-left: 16px;
  padding-right: 21.33px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 246px;
  padding: 16px;
  box-sizing: border-box;
}

.center {
  width: 750px;
  padding: 16px;
  box-sizing: border-box;
}

.left {
  width: 220px;
  padding: 16px;
  box-sizing: border-box;
}

.public-private {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  width: 146px;
  height: 32px;
  padding-left: 8px;
  padding-right: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-state-50);
  border: 1px solid var(--secondary-state-300);
  border-radius: 12px;
}
