.people-table__header {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text-default);
  display: flex;
  width: 100%;

  &--left {
    display: flex;
    min-width: 203px;
    max-width: 203px;
    box-sizing: border-box;
  }

  &--right {
    display: flex;
    min-width: 230px;
    max-width: 230px;
    padding: 16px;
    box-sizing: border-box;
  }

  &--center {
    display: flex;
    max-width: 750px;
    padding: 16px;
    box-sizing: border-box;
  }
}

.teams-list {
  width: 750px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  padding: 16px;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
}

.teams-list__team-name,
.teams-list__hidden-teams {
  text-decoration-line: underline;
  cursor: pointer;
  color: var(--color-text-default);
  &:hover {
    color: var(--color-text-default);
    text-decoration-line: underline;
  }
}

.teams-list__team-permission {
  text-transform: lowercase;
}

.people-table__membership-column {
  min-width: 230px;
  max-width: 230px;
  padding-left: 16px;
  padding-right: 5.33px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.9;
    }
  }
}
