.table {
  width: 1216px;
  font-family: 'Inter';
  font-style: normal;
  margin: 10px;
}

.table__header {
  height: 44px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0.5px solid var(--secondary-state-200);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.table .table__row {
  justify-content: space-between;
  box-sizing: border-box;
  height: 56px;
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.table .table__row:nth-child(even) {
  background: var(--secondary-state-50);
}

.table .table__row:nth-child(odd) {
  background: var(--secondary-state-100);
}

.table__collapse {
  height: 36px;
  background: var(--secondary-state-50);
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.footer{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table__footer {
  height: 48px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.add-member-button {
  width: 182px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10.67px;
  position: relative;
  padding-left: 14.67px;
  padding-right: 12px;
  border-radius: 12px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  cursor: pointer;
}
.add-member-button:hover {
  background: var(--secondary-state-300);
}
.add-member-button:focus {
  background: var(--secondary-state-300);
  border: 2px solid var(--secondary-state-300);
  box-shadow: 0px 0px 0px 3px var(--box-shadow);
}

.remove-from-team-button {
  width: 149px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 14px;
  padding-right: 12px;
  border-radius: 12px;
  background: var(--secondary-state-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  cursor: pointer;
}
.remove-from-team-button:hover {
  background: var(--secondary-state-300);
}
.remove-from-team-button:focus {
  background: var(--secondary-state-300);
  border: 2px solid var(--primary-purple-300);
}

.repo-icon {
  width: 16px;
  height: 21px;
}


