.table {
  max-width: 1216px;
  font-family: 'Inter';
  font-style: normal;
  margin: 10px;
}

.table__header {
  height: 44px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0.5px solid var(--secondary-state-200);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.table__row {
  justify-content: space-between;
  box-sizing: border-box;
  height: 56px;
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  &:nth-child(even) {
    background: var(--secondary-state-50);
  }

  &:nth-child(odd) {
    background: var(--secondary-state-100);
  }
}

.table__row--footer{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table__collapse {
  height: 36px;
  background: var(--secondary-state-50);
  border: 1px solid var(--secondary-state-200);
  border-bottom: 0.5px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.table__footer {
  height: 48px;
  background: var(--secondary-state-100);
  border: 1px solid var(--secondary-state-200);
  border-top: 0.5px solid var(--secondary-state-200);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
