.modal {
  width: 639px;
  height: auto;
  background: var(--background);
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  p {
    margin: 0px !important;
  }
}

.modal--border {
  border: 1px var(--color-text-default) solid;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  gap: 16px;
}

.modal-content__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: var(--color-text-default);
  margin: 0px 0px 16px;
}

.modal__x-button {
  display: flex;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 99;
  border: 0px;
  &:hover,
  &:focus {
    background-color: var(--secondary-state-50);
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.2);
}
