.dagshub-dropdown {
  position: relative;

  .dagshub-dropdown__box {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-default);
    height: 32px;
    padding-left: 8px;
    padding-right: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-state-50);
    border: 1px solid var(--secondary-state-300);
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .dagshub-dropdown__options {
    border-radius: 6px;
    gap: 16px;
    z-index: 1;
    position: absolute;
    top: 40px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    background-color: #23414D;


    &-radio {
      padding: 12px;
      >div, label, p {
        color: white !important;
      }
    }

    &-opt {
      font-weight: 500;
      cursor: pointer;
      font-size: 14px;
      padding: 12px;
      transition: background-color 0.4s;
      background-color: var(--secondary-state-100);

      &:hover:not(.checked) {
        background-color: var(--secondary-state-200);
      }
    }

    .checked {
      background-color: var(--secondary-state-200);
    }
  }
}
