.text-area-wrapper {
  border-radius: 0px 0px 8px 8px;
  width: 599px;
  border-radius: 0px 0px 8px 8px;
  width: 599px;
  position: relative;
}

.style-colab {
  position: absolute;
  z-index: 2;
  right: 0px;
  width: 146px;
  height: 36px;
  background: #e8e8e8;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shared-style {
  width: 599px;
  height: 464px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}

.text-area {
  padding-left: 3.5rem;
  background-color: #f1f5f9;
  border: none;
  border-radius: 0px 0px 8px 8px;
  padding-top: 8px;
  resize: none;
  box-sizing: border-box;
  &:focus-visible {
    outline: 0px;
  }
}

.styled-numbers {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  text-align: right;
  box-shadow: none;
  position: absolute;
  color: grey;
  background-color: #f1f5f9;
  padding: 10px;
  width: auto;
  padding-top: 10px;
  border-radius: 0px 0px 8px 8px;
  height: 454px;
}

.style-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  gap: 16px;
  width: 100%;
  height: 44px;
  background: #e9edf2;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
}

.header-title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #172d32;
}

.section {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.icon-background {
  width: 24px;
  height: 24px;
  background: #cbd5e1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
