.generic-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  background: #ffffff;
  border: 2px dashed #e2e8f0;
  border-radius: 12px;
  white-space: pre-line;
  width: 100%;
}
