.vertical-menu-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 224px;
  height: 36px;
  box-sizing: border-box;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: #475569;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  border: 0px;

  &:focus {
    color: #4453b3;
    background: #eef0fc;
    border-left: 4px solid #5467de;
    border-radius: 0px 8px 8px 0px;
    padding-left: 14px;
  }
  &:hover {
    background: #f1f5f9;
  }
}
