.user-image {
    position: relative;
    top: 3px;
}
.user-image > img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.name-info {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-default);
}

.user-info {
    width: 203px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
}
