.radio-button-item {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  color: #172d32;
  gap: 6px;
}

.radio-button-item__container {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  gap: 10px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .radio-button-item__checkmark {
    box-shadow: 0px 0px 0px 2px #c4b5fd;
  }

  input:checked ~ .radio-button-item__checkmark {
    border: 4.9px solid #5467de;
  }
}

.radio-button-item__checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  border: 2px solid #94a3b8;
  box-sizing: border-box;
}
