.combined-search {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  position: relative;

  .input-items-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    background-color: #f8fafc;
    flex-wrap: wrap;

    div.search-input {
      gap: 0;

      .search-icon > svg {
        top: 15px;
      }
    }

    input.search-input {
      border: none;
      min-width: 200px;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    .items-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .single-item {
        display: flex;
        margin-left: 8px;
        min-width: 130px;
        align-items: center;
        border-radius: 14px;
        padding: 2px 6px 2px 3px;
        background-color: #fff;
        border: 1px solid #e2e8f0;
        justify-content: space-around;
        align-items: center;

        img {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          margin-right: 5px;
        }

        a {
          color: #172d32;
          margin-right: 12px;
          text-decoration: none;
        }
      }
    }
  }
}
