.teams-table-left-side-header {
  width: 953px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.teams-table-left-side-header__team-name {
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text-default);
  flex-shrink: 0;
}

.teams-table-left-side-header__team-description {
  font-weight: 500;
  line-height: 125%;
  color: var(--secondary-state-600);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.teams-table-right-side-header {
  min-width: 231px;
  display: flex;
  gap: 15.5px;
  padding-right: 16px;
}

.teams-table-right-side-header__dots-vertical-icon {
  position: relative;
  top: 9px;
  cursor: pointer;
}

.teams-table-footer-left-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 16px;
  min-width: 786px;
}

.teams-table-footer-left-section__permission-text {
  display: flex;
  align-items: center;
}

.teams-table-footer-left-section__permission-label {
  background: var(--secondary-state-200);
  border: 1px solid var(--secondary-state-300);
  display: flex;
  padding-right: 9px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 13px;
  border-radius: 12px;
  margin: 8px;
  align-items: center;
  cursor: pointer;
}

.team-repos {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.team-repos__repo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.teams-table-footer-right-section {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-purple-600);
  display: flex;
  align-items: center;
  gap: 5.33px;
  cursor: pointer;
}
