.add-member-modal {
    width: 639px;
    height: auto;
    background: var(--background);
    border-radius: 6px;
}

.add-member-modal_border{
    border: 1px var(--color-text-default) solid;
}

.modal__add-member-modal{
    position: fixed;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    font-family: 'Inter';
    font-style: normal;
}

.modal-content__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: var(--color-text-default);
    margin: 0px;
    margin-bottom: 16px;
}

.modal-content__instructions{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-default);
    margin: 0px;
    margin-bottom: 8px;
}

.search-input{
    width: 603px;
    height: 48px;
    background: var(--secondary-state-50);
    border: 2px solid var(--secondary-state-300);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 16px;

    &:focus-visible{
        outline:none!important;
    }
    &:hover{
        background: var(--secondary-state-100);
        border: 2px solid var(--secondary-state-300);
    }
    &:focus{
        background: var(--secondary-state-50);
        border: 2px solid var(--secondary-state-300);
        box-shadow: 0px 0px 0px 3px var(--box-shadow);
    }
    &:hover::placeholder,
    &:focus::placeholder{
        color: var(--color-text-default);
    }
}

::placeholder{
    color: var(--secondary-state-500);
}

.add-member-modal__x-button {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 99;
    &:hover,
    &:focus {
        background-color: var(--secondary-state-50);
        cursor: pointer;
    }
    &:hover img{
        filter: invert(1);
    }
    img{
        display: flex;
        width: 12px;
        height: 12px;
    }
}

.desktop-default-button{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 599px;
    height: 36px;
    border: 0px;
    border-radius: 12px;
    &:focus-visible{
        outline:none!important;
    }

    &.desktop-default-button_primary{
        color: var(--background);
        background: var(--primary-purple-600);

        &:hover{
            background: var(--primary-purple-700);
        }

        &:focus{
            box-shadow: 0px 0px 0px 3px var(--box-shadow);
        }
    }
    &.desktop-default-button_secondary{
        color: var(--color-text-default);
        background: var(--secondary-state-200);

        &:hover{
            background: var(--secondary-state-300);
        }

        &:focus{
            border: 2px solid var(--primary-purple-300);
        }
    }
}

.modal-content__desktop-default-button-primary{
    margin-top: 36px;
}

.modal-content__or{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--modal-or);
    margin: 4px;
}



