$primary-purple-50: #F7F8FF;
$primary-purple-100: #EEF0FC;
$primary-purple-200: #CCD3FF;
$primary-purple-300: #C4B5FD;
$primary-purple-400: #8190F6;
$primary-purple-500: #7381EC;
$primary-purple-600: #5467DE;
$primary-purple-700: #4453B2;
$primary-purple-800: #162596;
$primary-purple-900: #32325B;

$dark-mode-dark-700: #284D54;
$dark-mode-dark-800: #23414D;
$dark-mode-dark-900: #192E36;

$secondary-purple-50: #F8FAFC;
$secondary-purple-100: #F1F5F9;
$secondary-purple-200: #E2E8F0;
$secondary-purple-300: #CBD5E1;
$secondary-purple-400: #94A3B8;
$secondary-purple-500: #64748B;
$secondary-purple-600: #475569;
$secondary-purple-700: #334155;
$secondary-purple-800: #1E293B;
$secondary-purple-900: #0F172A;

$gradients-hero-gradient:linear-gradient(90deg, #A18CD1 0%, #D0A8DF 66.15%, #FBC2EB 100%);

$purple-50: #FAF5FF;
$purple-100: #F3E8FF;
$purple-200: #E9D5FF;
$purple-300: #D8B4FE;
$purple-400: #C084FC;
$purple-500: #A855F7;
$purple-600: #9333EA;
$purple-700: #7E22CE;
$purple-800: #6B21A8;
$purple-900: #581C87;

$fuchsia-50: #FDF4FF;
$fuchsia-100: #FAE8FF;
$fuchsia-200: #F5D0FE;
$fuchsia-300: #F0ABFC;
$fuchsia-400: #E879F9;
$fuchsia-500: #D946EF;
$fuchsia-600: #C026D3;
$fuchsia-700: #A21CAF;
$fuchsia-800: #86198F;
$fuchsia-900: #701A75;

$red-50: #FEF2F2;
$red-100:#FEE2E2;
$red-200:#FECACA;
$red-300:#FCA5A5;
$red-400:#F87171;
$red-500:#EF4444;
$red-600:#DC2626;
$red-700:#B91C1C;
$red-800:#991B1B;
$red-900:#7F1D1D;

$orange-50:#FFF7ED;
$orange-100:#FFEDD5;
$orange-200:#FED7AA;
$orange-300:#FDBA74;
$orange-400:#FB923C;
$orange-500:#F97316;
$orange-600:#EA580C;
$orange-700:#C2410C;
$orange-800:#9A3412;
$orange-900:#7C2D12;

$amber-50:#FFFBEB;
$amber-100: #FEF3C7;
$amber-200: #FDE68A;
$amber-300: #FCD34D;
$amber-400: #FBBF24;
$amber-500: #F59E0B;
$amber-600: #D97706;
$amber-700: #B45309;
$amber-800: #92400E;
$amber-900: #78350F;

$yellow-50: #FEFCE8; 
$yellow-100: #FEF9C3; 
$yellow-200: #FEF08A;
$yellow-300: #FDE047;
$yellow-400: #FACC15;
$yellow-500: #EAB308;
$yellow-600: #CA8A04;
$yellow-700: #A16207;
$yellow-800: #854D0E;
$yellow-900: #713F12;

$lime-50:#F7FEE7;
$lime-100: #ECFCCB;
$lime-200: #D9F99D;
$lime-300: #BEF264;
$lime-400: #A3E635;
$lime-500: #84CC16;
$lime-600: #65A30D;
$lime-700: #4D7C0F;
$lime-800: #3F6212;
$lime-900: #365314;

$green-50: #F0FDF4;
$green-100: #DCFCE7;
$green-200: #BBF7D0;
$green-300: #86EFAC;
$green-400: #4ADE80;
$green-500: #22C55E;
$green-600: #16A34A;
$green-700: #15803D;
$green-800: #166534;
$green-900: #14532D;

$emerald-50:#ECFDF5;
$emerald-100: #D1FAE5;
$emerald-200: #A7F3D0;
$emerald-300: #6EE7B7;
$emerald-400: #34D399;
$emerald-500: #10B981;
$emerald-600: #059669;
$emerald-700: #047857;
$emerald-800: #065F46;
$emerald-900: #064E3B;

$teal-50: #F0FDFA;
$teal-100: #CCFBF1;
$teal-200: #99F6E4;
$teal-300: #5EEAD4;
$teal-400: #2DD4BF;
$teal-500: #14B8A6;
$teal-600: #0D9488;
$teal-700: #0F766E;
$teal-800: #115E59;
$teal-900: #134E4A;

$cyan-50: #ECFEFF;
$cyan-100: #CFFAFE;
$cyan-200: #A5F3FC;
$cyan-300: #67E8F9;
$cyan-400: #22D3EE;
$cyan-500: #06B6D4;
$cyan-600: #0891B2;
$cyan-700: #0E7490;
$cyan-800: #155E75;
$cyan-900: #164E63;

$sky-50: #F0F9FF;
$sky-100: #E0F2FE;
$sky-200: #BAE6FD;
$sky-300: #7DD3FC;
$sky-400: #38BDF8;
$sky-500: #0EA5E9;
$sky-600: #0284C7;
$sky-700: #0369A1;
$sky-800: #075985;
$sky-900: #0C4A6E;

//have no names
$background: #FFFFFF;
$modal-text: #172D32;
$modal-or: #000000;
$box-shadow: rgba(196, 181, 253, 0.5);

.add-member-modal {
    width: 639px;
    height: auto;
    background: $background;
    border-radius: 6px;
}

.add-member-modal_border{
    border: 1px $modal-text solid;
}

.modal__add-member-modal{
    position: fixed;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    font-family: 'Inter';
    font-style: normal;
}

.modal-content__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: $modal-text;
    margin: 0px;
    margin-bottom: 16px;
}

.modal-content__instructions{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $modal-text;
    margin: 0px;
    margin-bottom: 8px;
}

.search-input{
    width: 603px;
    height: 48px;
    background: $secondary-purple-50;
    border: 2px solid $secondary-purple-300;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 16px;

    &:focus-visible{
        outline:none!important;
    }
    &:hover{
        background: $secondary-purple-100;
        border: 2px solid $secondary-purple-300;
    }
    &:focus{
        background: $secondary-purple-50;
        border: 2px solid $secondary-purple-300;
        box-shadow: 0px 0px 0px 3px rgba(196, 181, 253, 0.5);
    }
    &:hover::placeholder,
    &:focus::placeholder{
        color: $modal-text;
    }
}

::placeholder{
    color: $secondary-purple-500;
}

.add-member-modal__x-button {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 99;
    &:hover,
    &:focus {
        background-color: $secondary-purple-50;
        cursor: pointer;
    }
    &:hover img{
        filter: invert(1);
    }
    img{
        display: flex;
        width: 12px;
        height: 12px;
    }
}

.desktop-default-button{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 599px;
    height: 36px;
    border: 0px;
    border-radius: 12px;
    &:focus-visible{
        outline:none!important;
    }

    &.desktop-default-button_primary{
        color: $background;
        background: $primary-purple-600;

        &:hover{
            background: $primary-purple-700;
        }

        &:focus{
            box-shadow: 0px 0px 0px 3px $box-shadow;
        }
    }
    &.desktop-default-button_secondary{
        color: $modal-text;
        background: $secondary-purple-200;

        &:hover{
            background: $secondary-purple-300;
        }

        &:focus{
            border: 2px solid $primary-purple-300;
        }
    }
}

.modal-content__desktop-default-button-primary{
    margin-top: 36px;
}

.modal-content__or{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $modal-or;
    margin: 4px;
}



