.dagshub-tag {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  border: 0;
  font-size: 12px;
  padding: 4px 8px;
  gap: 8px;
  border-radius: 32px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: all 0.5s;
  margin-right: 8px;
}

.dagshub-tag--general {
  color: #64748b;
  background-color: #f1f5f9;
}
.dagshub-tag--general:hover {
  background-color: #e2e8f0;
}
.dagshub-tag--general.selected {
  color: #f8fafc;
  background-color: #64748b;
}

.dagshub-tag--task {
  color: #15803d;
  background-color: #dcfce7;
}
.dagshub-tag--task:hover {
  background-color: #bbf7d0;
}
.dagshub-tag--task.selected {
  color: #dcfce7;
  background-color: #15803d;
}

.dagshub-tag--data-domain {
  color: #dc2626;
  background-color: #fef2f2;
}
.dagshub-tag--data-domain:hover {
  background-color: #fecaca;
}
.dagshub-tag--data-domain.selected {
  color: #ffffff;
  background-color: #dc2626;
}

.dagshub-tag--framework {
  color: #0e7490;
  background-color: #cffafe;
}
.dagshub-tag--framework:hover {
  background-color: #a5f3fc;
}
.dagshub-tag--framework.selected {
  color: #ecfeff;
  background-color: #0e7490;
}

.dagshub-tag--integration {
  color: #a16207;
  background-color: #fef9c3;
}
.dagshub-tag--integration:hover {
  background-color: #fef08a;
}
.dagshub-tag--integration.selected {
  color: #fefce8;
  background-color: #a16207;
}

.dagshub-tag--type {
  color: #be185d;
  background-color: #fce7f3;
}
.dagshub-tag--type:hover {
  background-color: #fbcfe8;
}
.dagshub-tag--type.selected {
  color: #fdf2f8;
  background-color: #be123c;
}

.dagshub-tag--sm {
  padding: 4px 8px;
}
.dagshub-tag--md {
  padding: 7px 10px;
}
.dagshub-tag--lg {
  padding: 9px 12px;
}
