table {
  max-width: 1216px;
  font-family: 'Inter';
  font-style: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse:collapse;
  border-radius: 6px;
}
thead tr {
  background: var(--secondary-state-50);
  width: 100%!important;

}
tbody tr {
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  &:nth-child(odd) {
    background: var(--secondary-state-50);
  }

  &:nth-child(even) {
    background: var(--secondary-state-100);
  }
}

.header {
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

table th {
  display: flex !important;
  flex-direction: column;
}

.move-columns {
  display: flex !important;
  flex-direction: row;
}

table, th, td{
  border: 1px solid #e2e8f0;
}

th,
td {
  height: 100%;
  display: flex !important;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

th,
td {
  height: 100%;
  display: flex !important;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}


th,
td {
  .resizer {
    display: inline-block;
    //background: blue;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;

    &.isResizing {
      background: var(--primary-purple-600);
      border: 2px solid var(--primary-purple-300);
    }
  }
}


th:first-of-type, tr:first-of-type {
  border-top-left-radius: 6px;
}
th:last-of-type, tr:last-of-type {
  border-top-right-radius: 6px;
}
tr:last-of-type td:first-of-type, tr:last-of-type {
  border-bottom-left-radius: 6px;
}
tr:last-of-type td:last-of-type, tr:last-of-type {
  border-bottom-right-radius: 6px;
}
