.message-component {
  display: flex;
  width: 100%;
  max-width: 1216px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;

  &.warning {
    background: #fefbea;
    border: 1px solid #fde68a;
  }
  &.error {
    background: #fef2f2;
    border: 1px solid #fecaca;
  }
  &.info {
    background: #eff6ff;
    border: 1px solid #93c5fd;
  }
  &.success {
    background: #f0fdf4;
    border: 1px solid #86efac;
  }
  .message-component__text {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    padding: 6px 8px 6px 8px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .message-component__title {
    font-weight: 500;
  }

  .message-component__support {
    font-weight: 400;
  }

  .message-component__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-component__support-link {
    color: black;
    text-decoration: underline;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}
